.trabajo-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .trabajo-list-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .trabajo-list-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .trabajo-list-container li {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .trabajo-list-container li h3 {
    margin-top: 0;
  }
  
  .trabajo-list-container li p {
    margin-bottom: 0;
  }